<div>
  <%= link_to(
    manager_purchase_order.title,
    m([@company, @manager,
    'manager_purchase_orders', manager_purchase_order.id])
  ) %>
  <span class="name">
    Status:
  </span>
  <span class="value">
    <%= manager_purchase_order.get_status %>
  </span>
</div>
