<%= breadcrumbs([
  @company,
  @property,
  @unit,
  @rental_agreement,
  ['rental_agreement_account', @account]
]) %>

<fieldset>
  <legend><%= @rental_agreement_account %> Account</legend>
  <p>
    <table style="width: 100%;">
      <%= render(
        :partial => '/account_updates/rental_agreement_account_update_tr',
        :collection => @account_updates
      ) %>
    </table>
  </p>
</fieldset>
