<p>
  <div>
    <span class="name">Status:</span>
    <span class="value"><%= maintenance_request_update.maintenance_request_status %></span>
  </div>
  <div>
    <span class="name">Notes:</span>
    <span class="value"><%= maintenance_request_update.notes %></span>
  </div>
  <div>
    <span class="name">Date:</span>
    <span class="value"><%= maintenance_request_update.created_at %></span>
  </div>
</p>
