<p>
  <label>Image File</label><br/>
  <% fields_for :photo do |p| %>
    <%= p.file_field :uploaded_file %>
  <% end %>
</p>
<p>
  <label>Caption</label><br/>
  <%= form.text_area(:caption, :rows => 4) %>
</p>
