<% transaction = check_transaction %>
<p>
  <span class="value"><%= transaction.created_on %></span>
  <span class="value"><%= transaction.source_account %></span>
    <span class="name">to</span>
  <span class="value"><%= transaction.target_account %></span>
</p>
