<% maintenance_request_update = property_maintenance_request_update %>
<dl>
  <dt>
    <%= maintenance_request_update.created_at %>
  </dt>
  <dd>
    <div>
      <%= maintenance_request_update.maintenance_request_status %>
    </div>
    <div>
      <%= maintenance_request_update.notes %>
    </div>
  </dd>
</dl>
