<dl>
  <dt>Name</dt>
  <dd><%= floor_plan_verbose.name %></dd>

  <dt>Baths</dt>
  <dd><%= floor_plan_verbose.bathrooms %></dd>

  <dt>Beds</dt>
  <dd><%= floor_plan_verbose.bedrooms %></dd>

  <dt>Area</dt>
  <dd><%= floor_plan_verbose.sq_ft %> square feet</dd>
</dl>
