<div>
  <span class="name">Bathrooms:</span>
  <span class="value"><%= floor_plan_public.bathrooms %></span>
</div>
<div>
  <span class="name">Bedrooms:</span>
  <span class="value"><%= floor_plan_public.bedrooms %></span>
</div>
<div>
  <span class="name">Square Footage:</span>
  <span class="value"><%= floor_plan_public.sq_ft %></span>
</div>
