<dt>
  <%= render(
    :partial => '/floor_plans/floor_plan_link',
    :object => floor_plan
  ) %>
</dt>
<dd>
  <%= render(
    :partial => '/floor_plans/floor_plan_inline',
    :object => floor_plan
  )%>
</dd>
