<%= form.text_field :name %>
<%= form.text_field :bedrooms %>
<%= form.text_field :bathrooms %>
<%= form.text_field :sq_ft %>
<%= form.text_field :nominal_rent %>
<%= form.text_area :description, :rows => 8 %>
