<%= breadcrumbs([@company, @manager, 'Manager Properties']) %>
<fieldset>
  <legend>New Manager Property</legend>
    <% form_for(
      :manager_property,
      :url => m([@company, @manager, 'manager_properties'])
    ) do |manager_property| %>
    <p>
      <% @properties.each do |property| %>
        <div>
          <%= manager_property.radio_button(:property_id, property.id) %>
          <%= property %>
        </div>
      <% end %>
    </p>
    <div><%= submit_tag 'Save' %></div>
    <% end %>
</fieldset>
