<%= breadcrumbs([@company, @property, @unit, @rental_agreement]) %>

<fieldset>
  <legend>Edit Rental Agreement</legend>
  <% form_for(
    :rental_agreement,
    :url => m([@company, @property, @unit, @rental_agreement]),
    :builder => LabeledBuilder,
    :html => {:method => :put}
  ) do |form| %>
    <%= render :partial => 'form', :object => form %>
    <%= submit_tag 'Update' %>
  <% end %>
</fieldset>

