<p>
  <span class="value">
    <%= receivable_rent.month %>/<%= receivable_rent.year %>
    rents receivable
  </span>
  <span class="name">
    generated on
  </span>
  <span class="value">
    <%= receivable_rent.created_on %>
  </span>
</p>
