<%= form.text_field :email, :size => 32 %>
<%= form.text_field :password, :size => 16 %>
<%= form.text_field :password_confirmation, :size => 16 %>
<%= form.text_field :first_name, :size => 16 %>
<%= form.text_field :last_name, :size => 16 %>
<%= form.text_field :company_name, :size => 32 %>
